<% provide(:title, "Anmeldung für Schüler") %>
<div class="center jumbotron">
  <h1>Login</h1>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(:session, url: studenten_anmelden_path) do |f| %>
        <%= f.label :number %>
        <%= f.text_field :number, class: "form-control" %>

        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control" %>

        <%= f.submit "Anmelden", class: "btn-primary btn" %>
      <% end %>
    </div>
  </div>
</div>
