<% provide(:title, "Adminbereich") %>
<div class="center jumbotron">
  <h3>Admin Zentrum</h3>
  <br/>

  <% if Schueler.first.loginpermit == false %>
    <div>
      Warnung: Anmeldungen deaktiviert
    </div>
    <br />
  <% end %>
  <% if Schueler.first.Received == false %>
    <div>
      Anmeldedaten wurden noch nicht verschickt
    </div>
    <br />
  <% end %>
  <% if @n != 0 %>
    Es gibt in der Präsentationdatenbank <%= @n %> Fehler.
    <%= @dups %>
  <% end %>

  <div>
    <div>
      <%= link_to "Datenbank Verwalten", admin_show_presentations_path, class: "btn btn-primary btn-lg" %>
    </div>
    <br />
    <div>
      <%= link_to "Mails versenden", admin_send_path, class: "btn btn-primary btn-lg" %>
    </div>
    <br />
    <div>
      <%= link_to "Servereinstellungen", admin_opt_path, class: "btn btn-primary" %>
    </div>
    <br />
    <h4>System verwalten</h4>
    <div>
      <%= link_to "Datenbank zurücksetzen", admin_reset_path, class: "btn btn-danger" %>
      <%= link_to "Abmelden", admin_login_path, method: :delete, class: "btn btn-primary" %>
    </div>
  </div>
</div>
