<% provide(:title, "Admin Upload") %>
<div class="center jumbotron">
  <h3>Willkommen zum Admin Upload Zentrum</h3>
  <br />
<h4>Dateien Hochladen</h4>
<div>
  <% if Presentation.first == nil %>
    <%= link_to "Presentationsliste hochladen", admin_add_presentations_path, class: "btn btn-primary" %>
  <% else %>
    <%= link_to "Presentationsliste hochladen", admin_add_presentations_path, class: "btn btn-secondary" %>
  <% end %>
  <% if Schueler.first == nil %>
    <%= link_to "Schülerliste hochladen", admin_add_students_path, class: "btn btn-primary" %>
  <% else %>
    <%= link_to "Schülerliste hochladen", admin_add_students_path, class: "btn btn-secondary" %>
  <% end %>
  <% if Teacher.first == nil %>
    <%= link_to "Lehrerliste hochladen", admin_add_teachers_path, class: "btn btn-primary" %>
  <% else %>
    <%= link_to "Lehrerliste hochladen", admin_add_teachers_path, class: "btn btn-secondary" %>
  <% end %>
</div>
</div>
