<% provide(:title, "Freie Plätze") %>
<h4>Hier können Sie eingeben, wie viele Freie Plätze es pro Präsentation geben
sollte.</h4>
<%= form_tag admin_add_presentations_free_path do %>
  <%= number_field_tag 'free', 5, class: 'form-control', min:1, max:15, step:1 %>
  <%= label_tag :Zeit_zwischen_präsentationen %>
  <%= number_field_tag 'time', 10, class: "form-control", min:6, max:60, step:1 %>
  <%= submit_tag "Wählen", class: "btn btn-primary btn-lg", data: { disable_with: "Speichert..." } %>
<% end %>
