<% provide(:title, "Presentationsliste") %>
<h2>Bearbeiten</h2>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr> <!-- This table lists all relevant entries from the presentation db -->
      <th scope="col">Vorname</th>
      <th scope="col">Name</th>
      <th scope="col">Klasse</th>
      <th scope="col">Titel</th>
      <th scope="col">Fach</th>
      <th scope="col">Betreuer</th>
      <th scope="col">Zimmer</th>
      <th scope="col">Von</th>
      <th scope="col">Bis</th>
      <th scope="col">Speichern</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <%= form_tag admin_show_presentations_update_path do %>
        <%= hidden_field_tag 'id', $newpres.id %>
        <td><%= text_field_tag 'vorname', "#{$newpres.Vorname}" %></td>
        <td><%= text_field_tag 'name', "#{$newpres.Name}" %></td>
        <td><%= text_field_tag 'klasse', "#{$newpres.Klasse}" %></td>
        <td><%= text_field_tag 'title', "#{$newpres.Titel}" %></td>
        <td><%= text_field_tag 'fach', "#{$newpres.Fach}" %></td>
        <td><%= text_field_tag 'betreuer', "#{$newpres.Betreuer}" %></td>
        <td><%= text_field_tag 'zimmer', "#{$newpres.Zimmer}" %></td>
        <td><%= text_field_tag 'von', "#{Time.at($newpres.Von.to_i).utc.strftime("%H:%M")}" %></td>
        <td><%= text_field_tag 'bis', "#{Time.at($newpres.Bis.to_f).utc.strftime("%H:%M")}" %></td>
        <td><%= submit_tag "Speichern", class: "btn btn-primary" %></td>
      <% end %>
    </tr>
  </tbody>
</table>
