<% provide(:title, "Präsentationsliste") %>
<h3>Präsentationsliste</h3>
<div align="center">
  <%= link_to "Schülerliste anzeigen",  admin_show_students_path, class: "btn btn-primary" %>
  <%= link_to "Lehrerliste anzeigen", admin_show_teachers_path, class: "btn btn-primary" %>
  <%= link_to "Adminliste anzeigen", admin_show_admins_path, class: "btn btn-primary" %>
</div>
<div align="right">
  <%= link_to "+ CSV Hinzufügen", admin_add_presentations_path, class: "btn btn-primary" %>
  <%= link_to "+ Hinzufügen", admin_new_presentation_path, class: "btn btn-primary" %>
</div>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr> <!-- This table lists all relevant entries from the presentation db -->
      <th scope="col"><%= sort_link "Name" %></th>
      <th scope="col"><%= sort_link "Klasse" %></th>
      <th scope="col"><%= sort_link "Titel" %></th>
      <th scope="col"><%= sort_link "Fach" %></th>
      <th scope="col"><%= sort_link "Betreuer" %></th>
      <th scope="col"><%= sort_link "Zimmer" %></th>
      <th scope="col"><%= sort_link "Von" %></th>
      <th scope="col">Bis</th>
      <th scope="col"><%= sort_link "Frei" %></th>
      <th scope="col">Bearbeiten</th>
      <th scope="col">Entfernen</th>
    </tr>
  </thead>
  <tbody>
    <% @pres.each do |pres| %>
      <tr>
        <td scope="row"><%= pres.Name %></td>
        <td scope="row"><%= pres.Klasse %></td>
        <td scope="row"><%= pres.Titel %></td>
        <td scope="row"><%= pres.Fach %></td>
        <% betr = Teacher.find_by(Number: pres.Betreuer) %>
        <td scope="row"><%= "#{betr.Vorname} #{betr.Name}"%></td>
        <td scope="row"><%= pres.Zimmer %></td>
        <% sec = pres.Von %>
        <td scope="row"><%= Time.at(sec.to_f).utc.strftime("%H:%M") %></td>
        <td scope="row"><%= pres.Bis %></td>
        <td scope="row"><%= pres.Frei %></td>
        <td scope="row">
          <%= form_tag admin_show_presentations_edit_path do %>
            <%= hidden_field_tag 'id', pres.id %>
            <%= submit_tag "Bearbeiten", class: "btn btn-secondary" %>
          <% end %>
        </td>
        <td scope="row">
          <%= form_tag admin_show_presentations_remove_path do %>
            <%= hidden_field_tag 'id', pres.id %>
            <%= submit_tag "Entfernen", class: "btn btn-danger", data: { confirm: "Diese Presentation wird entfernt. Wenn sich jemand für diese Presentation schon angemolden hat, wird es zu Probleme führen."} %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
