<div class="center jumbotron">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Klasse</th>
        <th scope="col">Titel</th>
        <th scope="col">Fach</th>
        <th scope="col">Betreuer</th>
        <th scope="col">Zimmer</th>
        <th scope="col">Von</th>
        <th scope="col">Bis</th>
        <th scope="col">Freie<br />Plätze</th>
      </tr>
    </thead>
    <tbody>
      <%= @presentations.each do |pres| %>
        <tr>
          <td scope="row"><%= pres.Name %></td>
          <td scope="row"><%= pres.Klasse %></td>
          <td scope="row"><%= pres.Titel %></td>
          <td scope="row"><%= pres.Fach %></td>
          <td scope="row"><%= pres.Betreuer %></td>
          <td scope="row"><%= pres.Zimmer %></td>
          <td scope="row"><%= pres.Von %></td>
          <td scope="row"><%= pres.Bis %></td>
          <td scope="row"><%= pres.Frei %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
