<h4><%= @teac.Vorname %> <%= @teac.Name %></h4>
<% if @teaclist.first == nil %>
<% else %>
<div align="right">
  <%= link_to "PDF Herunterladen", teachers_download_pdf_path, class: "btn btn-primary" %>
</div>
<% end %>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr> <!-- This table lists all relevant entries from the presentation db -->
      <th scope="col"><%= sort_link "Name" %></th>
      <th scope="col"><%= sort_link "Klasse" %></th>
      <th scope="col"><%= sort_link "Titel" %></th>
      <th scope="col"><%= sort_link "Fach" %></th>
      <th scope="col"><%= sort_link "Betreuer" %></th>
      <th scope="col"><%= sort_link "Zimmer" %></th>
      <th scope="col"><%= sort_link "Von" %></th>
      <th scope="col">Bis</th>
      <th scope="col"><%= sort_link "Frei" %></th>
      <th scope="col">Besucher</th>
    </tr>
  </thead>
  <tbody>
    <% @teaclist.each do |pres| %>
      <tr>
        <td scope="row"><%= pres.Name %></td>
        <td scope="row"><%= pres.Klasse %></td>
        <td scope="row"><%= pres.Titel %></td>
        <td scope="row"><%= pres.Fach %></td>
        <% betr = Teacher.find_by(Number: pres.Betreuer) %>
        <td scope="row"><%= "#{betr.Vorname} #{betr.Name}"%></td>
        <td scope="row"><%= pres.Zimmer %></td>
        <td scope="row"><%= Time.at(pres.Von.to_i).utc.strftime("%H:%M") %></td>
        <td scope="row"><%= pres.Bis %></td>
        <td scope="row"><%= pres.Frei %></td>
        <td><%= pres.Besucher %></td>
      </tr>
    <% end %>
  </tbody>
</table>
