<% provide(:title, "Präsentationsauswahl") %>
<% if @pries == @pries1 || @pries == @pries2 || @pries1 == @pries2 %>
  <div align="right">
    <%= link_to "Sie haben eine Doppelbuchung! Bitte lösen Sie das Problem auf.", '#', class: "btn btn-disabled" %>
  </div>
<% elsif @pres0.to_i + Presentation.first.time.to_i > @pres1.to_i || @pres1.to_i + Presentation.first.time.to_i > @pres2.to_i %>
  <div align="right">
    <%= link_to "Nicht genug Zeit zwischen Präsentationen", '#', class: "btn btn-disabled" %>
  </div>
<% else %>
<div align="right">
  <%= link_to "Auswahl abschliessen", studenten_profil_send_path, class: "btn btn-primary" %>
</div>
<% end %>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col"><%= sort_link "Name" %></th>
      <th scope="col"><%= sort_link "Klasse" %></th>
      <th scope="col"><%= sort_link "Titel" %></th>
      <th scope="col"><%= sort_link "Fach" %></th>
      <th scope="col"><%= sort_link "Betreuer" %></th>
      <th scope="col"><%= sort_link "Zimmer" %></th>
      <th scope="col"><%= sort_link "Von" %></th>
      <th scope="col">Bis</th>
      <th scope="col"><%= sort_link "Frei" %></th>
      <th scope="col">Wählen</th>
    </tr>
  </thead>
  <tbody>
    <% @presentations.each do |pres| %>
      <% if @current_student.Selected == pres.id.to_s || @current_student.Selected1 == pres.id.to_s || @current_student.Selected2 == pres.id.to_s %>
        <tr class="table-primary">
      <% else %>
        <tr>
      <% end %>
          <td scope="row"><%= pres.Name %></td>
          <td scope="row"><%= pres.Klasse %></td>
          <td scope="row"><%= pres.Titel %></td>
          <td scope="row"><%= pres.Fach %></td>
          <td scope="row"><%= pres.Betreuer %></td>
          <td scope="row"><%= pres.Zimmer %></td>
          <% sec = pres.Von %>
          <td scope="row"><%= Time.at(sec.to_f).utc.strftime("%H:%M") %></td>
          <td scope="row"><%= pres.Bis %></td>
          <td scope="row"><%= pres.Frei %></td>
          <td scope="row">
            <% if pres.id.to_s == @current_student.Selected || pres.id.to_s == @current_student.Selected1 || pres.id.to_s == @current_student.Selected2 %>
              <%= form_tag studenten_weg_path do %>
                <%= hidden_field_tag 'id', pres.id %>
                <%= submit_tag "Abwählen", class: "btn btn-secondary", data: { disable_with: "Saving" } %>
              <% end %>
            <% else %>
              <%= form_tag '#' do %>
                <%= hidden_field_tag 'title', pres.id %>
                <%= submit_tag "Wählen", disabled: true, class: "btn btn-secondary", data: { disable_with: "Saving" } %>
              <% end %>
            <% end %>
          </td>
        <% else %>
      </tr>
    <% end %>
  </tbody>
</table>
