<% provide(:title, "Presentationsauswahl") %>
  <h4>Sortieren</h4>
  <button type="button" class="btn btn-outline-primary center">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle black" data-toggle="dropdown">
        Sortieren <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to "Nach Name", studenten_waehlen_path %></li>
        <li><%= link_to "Nach Klasse", studenten_waehlen_klasse_path %></li>
        <li><%= link_to "Nach Titel", studenten_waehlen_titel_path %></li>
        <li><%= link_to "Nach Fach", studenten_waehlen_fach_path %></li>
        <li><%= link_to "Nach Betreuer", studenten_waehlen_betreuer_path %></li>
      </ul>
    </li>
  </button>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Klasse</th>
      <th scope="col">Titel</th>
      <th scope="col">Fach</th>
      <th scope="col">Betreuer</th>
      <th scope="col">Zimmer</th>
      <th scope="col">Von</th>
      <th scope="col">Bis</th>
      <th scope="col">Freie Pl채tze</th>
      <th scope="col">W채hlen</th>
    </tr>
  </thead>
  <tbody>
    <% @presentations.each do |pres| %>
      <tr>
        <td scope="row"><%= pres.Name %></td>
        <td scope="row"><%= pres.Klasse %></td>
        <td scope="row"><%= pres.Titel %></td>
        <td scope="row"><%= pres.Fach %></td>
        <td scope="row"><%= pres.Betreuer %></td>
        <td scope="row"><%= pres.Zimmer %></td>
        <td scope="row"><%= pres.Von %></td>
        <td scope="row"><%= pres.Bis %></td>
        <td scope="row"><%= pres.Frei %></td>
        <td scope="row">
          <% unless @current_student.Selected == pres.Titel || @current_student.Selected1 == pres.Titel || @current_student.Selected2 == pres.Titel %>
          <%= form_tag studenten_waehlen_path do %>
            <%= hidden_field_tag 'title', pres.Titel %>
            <%= submit_tag "W채hlen", class: "btn btn-primary", data: {disable_with: "Saving"} %>
          <% end %>
          <% else %>
            <%= form_tag studenten_profil_path do %>
              <%= hidden_field_tag 'title', pres.Titel %>
              <%= submit_tag "Abw채hlen", class: "btn btn-secondary", data: { disable_with: "Saving" } %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
