<% provide(:title, "Presentationsauswahl") %>
<% if @current_student.Selected != nil && @current_student.Selected1 != nil && @current_student.Selected2 != nil %>
  <%= link_to "Auswahl abschliessen", studenten_profil_send_path, class: "btn btn-primary" %>
<% else %>
  <%= link_to "Auswahl noch nicht abgeschlossen", '#', class: "btn btn-disabled" %>
<% end %>
<% unless @current_student.Selected == nil || @current_student.Selected1 == nil %>
  <% if Presentation.find_by(Titel: @current_student.Selected).Von == Presentation.find_by(Titel: @current_student.Selected1).Von %>
    Error: Doppelbuchung! Bitte wählen Sie conflicting Präsentationen ab.
  <% end %>
<% end %>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col"><%= sort_link "Name" %></th>
      <th scope="col"><%= sort_link "Klasse" %></th>
      <th scope="col"><%= sort_link "Titel" %></th>
      <th scope="col"><%= sort_link "Fach" %></th>
      <th scope="col"><%= sort_link "Betreuer" %></th>
      <th scope="col"><%= sort_link "Zimmer" %></th>
      <th scope="col"><%= sort_link "Von" %></th>
      <th scope="col">Bis</th>
      <th scope="col"><%= sort_link "Frei" %></th>
      <th scope="col">Wählen</th>
    </tr>
  </thead>
  <tbody>
    <% @presentations.each do |pres| %>
      <% unless pres.Frei == 0 %>
        <tr>
          <td scope="row"><%= pres.Name %></td>
          <td scope="row"><%= pres.Klasse %></td>
          <td scope="row"><%= pres.Titel %></td>
          <td scope="row"><%= pres.Fach %></td>
          <% betr = Teacher.find_by(Number: pres.Betreuer) %>
          <td scope="row"><%= "#{betr.Vorname} #{betr.Name}" %></td>
          <td scope="row"><%= pres.Zimmer %></td>
          <td scope="row"><%= pres.Von %></td>
          <td scope="row"><%= pres.Bis %></td>
          <td scope="row"><%= pres.Frei %></td>
          <td scope="row">
            <% unless @current_student.Selected == pres.Titel || @current_student.Selected1 == pres.Titel || @current_student.Selected2 == pres.Titel %>
              <%= form_tag studenten_waehlen_path do %>
                <%= hidden_field_tag 'title', pres.Titel %>
                <%= submit_tag "Wählen", class: "btn btn-primary", data: {disable_with: "Saving"} %>
              <% end %>
            <% else %>
              <%= form_tag studenten_weg_path do %>
                <%= hidden_field_tag 'title', pres.Titel %>
                <%= submit_tag "Abwählen", class: "btn btn-secondary", data: { disable_with: "Saving" } %>
              <% end %>
            <% end %>
          </td>
        <% else %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
