<% provide(:title, "Auswahl") %>
<h4><%= @stud.Vorname %> <%= @stud.Name %></h4>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Klasse</th>
      <th scope="col">Titel</th>
      <th scope="col">Fach</th>
      <th scope="col">Betreuer</th>
      <th scope="col">Zimmer</th>
      <th scope="col">Von</th>
      <th scope="col">Bis</th>
      <th scope="col">Freie<br />Plätze</th>
    </tr>
  </thead>
  <tbody>
    <%= @pres.each do |p| %>
      <%= pres = Presentation.find_by(id: p) %>
      <tr>
        <td scope="row"><%= pres.Name %></td>
        <td scope="row"><%= pres.Klasse %></td>
        <td scope="row"><%= pres.Titel %></td>
        <td scope="row"><%= pres.Fach %></td>
        <% betr = Teacher.find_by(Number: pres.Betreuer) %>
        <td scope="row"><%= "#{betr.Vorname} #{betr.Name}" %></td>
        <td scope="row"><%= pres.Zimmer %></td>
        <% sec = pres.Von %>
        <td scope="row"><%= Time.at(sec.to_f).utc.strftime("%H:%M") %></td>
        <td scope="row"><%= Time.at(pres.Bis.to_f).utc.strftime("%H:%M") %></td>
        <td scope="row"><%= pres.Frei %></td>
      </tr>
    <% end %>
  </tbody>
</table>
