<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Klasse</th>
      <th scope="col">Titel</th>
      <th scope="col">Fach</th>
      <th scope="col">Betreuer</th>
      <th scope="col">Zimmer</th>
      <th scope="col">Von</th>
      <th scope="col">Bis</th>
      <th scope="col">Freie<br />Plätze</th>
      <th>Abwählen</th>
    </tr>
  </thead>
  <tbody>
    <tr>
    <%= @pres.each do |p| %>
      <%= pres = Presentation.find_by(id: p) %>
      <td scope="row"><%= pres.Name %></td>
      <td scope="row"><%= pres.Klasse %></td>
      <td scope="row"><%= pres.Titel %></td>
      <td scope="row"><%= pres.Fach %></td>
      <% betr = Teacher.find_by(Number: pres.Betreuer) %>
      <td scope="row"><%= "#{betr.Vorname} #{betr.Name}" %></td>
      <td scope="row"><%= pres.Zimmer %></td>
      <% sec = pres.Von %>
      <td scope="row"><%= Time.at(sec.to_f).utc.strftime("%H:%M") %></td>
      <td scope="row"><%= Time.at(pres.Bis.to_i).utc.strftime("%H:%M") %></td>
      <td scope="row"><%= pres.Frei %></td>
      <td>
    <% end %>
    </tr>
  </tbody>
</table>
Bitte beachten Sie, das Sie genug Zeit haben, um von einer Presentation zur nächsten zu kommen.<br />
<br />

<%= link_to "Zurück", studenten_clean_path, class: "btn btn-primary" %>
<br />
<br />
<%= form_for :lastchance, url: studenten_profil_send_path do %>
<%= submit_tag "Absenden", value: "Absenden", class: "btn btn-danger", data: { confirm: "Wenn Sie Ihre Anmeldung verschicken können Sie diese im Nachhinein nicht mehr bearbeiten.""" } %>
<% end %>
