<% provide(:title, "Schülerliste") %>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col"><%= sort_link "Vorname" %></th>
      <th scope="col"><%= sort_link "Name" %></th>
      <th scope="col"><%= sort_link "Klasse" %></th>
      <th scope="col"><%= sort_link "Mail" %></th>
      <th scope="col"><%= sort_link "Number" %></th>
      <th scope="col"><%= sort_link "Password" %></th>
      <th scope="col"><%= sort_link "Registered" %></th>
      <th scope="col">Bearbeiten</th>
      <th scope="col">Entfernen</th>
    </tr>
  </thead>
  <tbody>
    <% @student.each do |stud| %>
      <tr>
        <td scope="row"><%= stud.Vorname %></td>
        <td scope="row"><%= stud.Name %></td>
        <td scope="row"><%= stud.Klasse %></td>
        <td scope="row"><%= stud.Mail %></td>
        <td scope="row"><%= stud.Number %></td>
        <td scope="row"><%= stud.Code %></td>
        <td scope="row"><%= stud.Registered %></td>
        <td scope="row">
          <%= form_tag admin_show_students_edit_path do %>
            <%= hidden_field_tag 'id', stud.id %>
            <%= submit_tag "Bearbeiten", class: "btn btn-secondary" %>
          <% end %>
        </td>
        <td scope="row">
          <%= form_tag admin_show_students_remove_path do %>
            <%= hidden_field_tag 'id', stud.id %>
            <%= submit_tag "Entfernen", class: "btn btn-danger", data: { confirm: "Diese Presentation wird entfernt. Wenn sich jemand für diese Presentation schon angemolden hat, wird es zu Probleme führen."} %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
