<% provide(:title, "Schülerliste") %>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Vorname</th>
      <th scope="col">Name</th>
      <th scope="col">Klasse</th>
      <th scope="col">Mail</th>
      <th scope="col">Number</th>
      <th scope="col">Password</th>
      <th scope="col">Registered?</th>
    </tr>
  </thead>
  <tbody>
    <%= @students.each do |stud| %>
    <tr>
      <td scope="row"><%= stud.Vorname %></td>
      <td scope="row"><%= stud.Name %></td>
      <td scope="row"><%= stud.Klasse %></td>
      <td scope="row"><%= stud.Mail %></td>
      <td scope="row"><%= stud.Number %></td>
      <td scope="row"><%= stud.Code %></td>
      <td scope="row"><%= stud.Registered %></td>
    </tr>
    <% end %>
  </tbody>
</table>
