<% provide(:title, 'Registrieren') %>
<div class="center jumbotron">
  <h3>Sign up</h3>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@schueler, url: admin_add_student_path) do |f| %>
        <%= render 'shared/error_messages' %>

        <%= f.label :vorname %>
        <%= f.text_field :Vorname, class: 'form-control' %>

        <%= f.label :name %>
        <%= f.text_field :Name, class: 'form-control' %>

        <%= f.label :mail %>
        <%= f.email_field :Mail, class: 'form-control' %>

        <%= f.label :klasse %>
        <%= f.text_field :Klasse, class: 'form-control' %>

        <%= f.label :number %>
        <%= f.text_field :Number, class: 'form-control' %>

        <%= f.label :passwort %>
        <%= f.password_field :password, class: 'form-control' %>
        <%= f.label :password, "Bestätigung" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>

        <%= f.submit "Schüler erstellen", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
