<% provide(:title, "Schüler anzeigen") %>
<div class="center jumbotron">
  <%= @schueler.Vorname %>, <%= @schueler.Name %>, <%= @schueler.Klasse %>,
  <%= @schueler.Mail %>, <%= @schueler.Number %>
</div>
