  Hallo <%= @student.Vorname %> <%= @student.Name %><br />
Sie haben folgende Präsentationen ausgewählt:<br /><br />
<table class="table bordered" style="th, td{ padding: 5px; text-align: left;}">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Klasse</th>
      <th scope="col">Titel</th>
      <th scope="col">Fach</th>
      <th scope="col">Betreuer</th>
      <th scope="col">Zimmer</th>
      <th scope="col">Von</th>
      <th scope="col">Bis</th>
    </tr>
  </thead>
  <tbody>
    <%= @student.selected.each do |p| %>
      <%= pres = Presentation.find_by(id: p) %>
      <tr>
        <td scope="row"><%= pres.Vorname %></td>
        <td scope="row"><%= pres.Name %></td>
        <td scope="row"><%= pres.Klasse %></td>
        <td scope="row"><%= pres.Titel %></td>
        <td scope="row"><%= pres.Fach %></td>
        <% betr = Teacher.find_by(Number: pres.Betreuer) %>
        <td scope="row"><%= "#{betr.Vorname} #{betr.Name}" %></td>
        <td scope="row"><%= pres.Zimmer %></td>
        <td scope="row"><%= Time.at(pres.Von.to_f).utc.strftime("%H:%M") %></td>
        <td scope="row"><%= Time.at(pres.Bis.to_f).utc.strftime("%H:%M") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br /><br />

<i>I am a bot, please do not reply</i>
