Hallo <%= @student.Vorname %><br />
<% @presi = Presentation.find_by(Titel: @student.Selected) %>
<% @presi1 = Presentation.find_by(Titel: @student.Selected1) %>
<% @presi2 = Presentation.find_by(Titel: @student.Selected2) %>
Sie haben folgende Präsentationen ausgewählt:<br /><br />
<table class="table bordered" style="th, td{ padding: 5px; text-align: left;}">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Klasse</th>
      <th scope="col">Titel</th>
      <th scope="col">Fach</th>
      <th scope="col">Betreuer</th>
      <th scope="col">Zimmer</th>
      <th scope="col">Von</th>
      <th scope="col">Bis</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td scope="row"><%= @presi.Name %></td>
      <td scope="row"><%= @presi.Klasse %></td>
      <td scope="row"><%= @presi.Titel %></td>
      <td scope="row"><%= @presi.Fach %></td>
      <% betr = Teacher.find_by(Number: @presi.Betreuer) %>
      <td scope="row"><%= "#{betr.Vorname} #{betr.Name}" %></td>
      <td scope="row"><%= @presi.Zimmer %></td>
      <td scope="row"><%= @presi.Von %></td>
      <td scope="row"><%= @presi.Bis %></td>
    </tr>
    <tr>
      <td scope="row"><%= @presi1.Name %></td>
      <td scope="row"><%= @presi1.Klasse %></td>
      <td scope="row"><%= @presi1.Titel %></td>
      <td scope="row"><%= @presi1.Fach %></td>
      <% betr = Teacher.find_by(Number: @presi1.Betreuer) %>
      <td scope="row"><%= "#{betr.Vorname} #{betr.Name}" %></td>
      <td scope="row"><%= @presi1.Zimmer %></td>
      <td scope="row"><%= @presi1.Von %></td>
      <td scope="row"><%= @presi1.Bis %></td>
    </tr>
    <tr>
      <td scope="row"><%= @presi2.Name %></td>
      <td scope="row"><%= @presi2.Klasse %></td>
      <td scope="row"><%= @presi2.Titel %></td>
      <td scope="row"><%= @presi2.Fach %></td>
      <% betr = Teacher.find_by(Number: @presi2.Betreuer) %>
      <td scope="row"><%= "#{betr.Vorname} #{betr.Name}" %></td>
      <td scope="row"><%= @presi2.Zimmer %></td>
      <td scope="row"><%= @presi2.Von %></td>
      <td scope="row"><%= @presi2.Bis %></td>
    </tr>
  </tbody>
</table>

<br /><br />

<i>I am a bot, please do not reply</i>
