Sehr Geehrte / r <%= @teacher.Name %>.
Ihre Präsentationen: <br />
<% preslist = Presentation.where(Betreuer: @teacher.Name) %>

<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Klasse</th>
      <th scope="col">Titel</th>
      <th scope="col">Zimmer</th>
      <th scope="col">Von</th>
      <th scope="col">Bis</th>
      <th scope="col">Freie <br /> Plätze</th>
      <th scope="col">Besucher</th>
    </tr>
  </thead>
  <tbody>
    <% preslist.each do |pres| %>
    <tr>
      <td scope="row"><%= pres.Name %></td>
      <td scope="row"><%= pres.Klasse %></td>
      <td scope="row"><%= pres.Titel %></td>
      <td scope="row"><%= pres.Zimmer %></td>
      <td scope="row"><%= pres.Von %></td>
      <td scope="row"><%= pres.Bis %></td>
      <td scope="row"><%= pres.Frei %></td>
      <td scope="row"><%= pres.Besucher %></td>
    </tr>
    <% end %>
  </tbody>
</table>
