<footer class="footer">

  <small>
    <% if logged_ad? %>
      Als Administrator angemeldet
    <% elsif logged_stud? %>
      Als Schüler <%= @current_student.Number %> angemeldet
    <% else %>
      BKS Anmeldetool  /  Entwickelt von Edward Lancaster MA18
    <% end %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Impressum",     impressum_path %></li>
      <li><%= link_to "Kontakt",       kontakt_path %></li>
      <% if logged_ad? %>
        <li><%= link_to "Hub", admin_path %></li>
      <% elsif logged_stud? %>
        <li><%= link_to "Registrieren", studenten_waehlen_path %></li>
      <% else %>
        <li><%= link_to "Anmelden",      studenten_anmelden_path %></li>
        <li><%= link_to "Admin Bereich", admin_login_path %></li>
      <% end %>
    </ul>
  </nav>
</footer>
