<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "BKS Tool", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",     root_path %></li>
        <li><%= link_to "Hilfe",    hilfe_path %></li>
        <% if logged_in? == true %>
          <li><%= link_to "Verwaltung", '#' %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Datenbank verwalten <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Placeholder", '#' %></li>
              <li><%= link_to "Placeholder", '#' %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Abmelden", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Anmelden", '#' %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
