<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "BKS Tool", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home",     root_path %></li>
          <li><%= link_to "Hilfe",    hilfe_path %></li>
          <% if logged_ad? %>
            <li><%= link_to "Hub", admin_path %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Hochladen...", admin_add_path %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Abmelden", admin_login_path, method: :delete %>
                </li>
              </ul>
            </li>
          <% elsif logged_stud? %>
            <li><%= link_to "Profil", studenten_profil_path %>
            <li><%= link_to "Abmelden", studenten_anmelden_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "Anmelden", studenten_anmelden_path %></li>
          <% end %>
      </ul>
    </nav>
  </div>
</header>
